.header {
  position: fixed;
  background-image: url(http://localhost:4200/assets/img/climate-change.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  opacity: 0.2;
}
