<app-header />
<mat-tab-group
  #tabGroup="matTabGroup"
  (selectedTabChange)="matChange(tabGroup.selectedIndex)"
>
  <mat-tab label="Sıcaklık">
    @if (tabGroup.selectedIndex === 0) {
    <app-temperature />
    }
  </mat-tab>
  <mat-tab label="Karbon dioksit">
    @if (tabGroup.selectedIndex === 1) {
    <app-carbon-dioxide />
    }
  </mat-tab>
  <mat-tab label="Orman ve Karbon">
    @if (tabGroup.selectedIndex === 2) {
    <app-forest-carbon />
    }
  </mat-tab>
  <mat-tab label="Nitro Oksit">
    @if (tabGroup.selectedIndex === 3) {
    <app-nitroux-oxide />
    }
  </mat-tab>
  <mat-tab label="Kutup Buzu">
    @if (tabGroup.selectedIndex === 4) {
    <app-polar-ice-caps />
    }
  </mat-tab>
  <mat-tab label="Okyanus Isınması">
    @if (tabGroup.selectedIndex === 5) {
    <app-ocean-warming />
    }
  </mat-tab>
</mat-tab-group>
<div id="chat-container">
  @if (response) {
  <img
    src="assets/img/gemini_logo.svg"
    alt="gemini logo"
    width="250"
  />
  <p [@typeWritterEffect] [innerHTML]="response"></p>
  } @else {
  <h2>Gemini yorumluyor... Lütfen Bekleyiniz</h2>
  <mat-spinner></mat-spinner>
  }
</div>

<app-footer />
