@if (dataStore.$oceanWarming().length > 0) {
<div #ContainerRef class="chart-container">
  <h2 class="chart-title">
    Bu bölüm, zaman içindeki ortalama küresel okyanus sıcaklığını ve verilerdeki
    eğilim ve belirsizliği gösterir.
  </h2>
  <ngx-charts-line-chart
  [view]="[ContainerRef.offsetWidth, 600]"
  [results]="dataStore.$oceanWarming()"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [autoScale]="true"
    xAxisLabel="Zaman"
    yAxisLabel="Okyanus Isınması"
  >
  </ngx-charts-line-chart>
</div>
} @else {
<p class="loading-text">Veriler yükleniyor... <mat-spinner></mat-spinner></p>
}
