@if (dataStore.$nitroOxide().length > 0) {
<div #ContainerRef class="chart-container">
  <h2 class="chart-title">
    Bu bölümde zaman içinde atmosferdeki nitro oksit konsantrasyonunu ve
    verilerdeki eğilim ve belirsizliği gösterir.
  </h2>
  <ngx-charts-line-chart
    [view]="[ContainerRef.offsetWidth, 600]"
    [results]="dataStore.$nitroOxide()"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    yAxisLabel="Nitro Oksit Seviyesi"
    xAxisLabel="Zaman"
  >
  </ngx-charts-line-chart>
</div>
} @else {
<p>Veriler yükleniyor... <mat-spinner></mat-spinner></p>
}
