@if (dataStore.$polarIceCaps().length > 0) {
<div #ContainerRef class="chart-container">
  <h2 class="chart-title">
    Bu bölüm Arktik deniz buzunun zaman içindeki kapsamını ve alanını, ayrıca
    verilerdeki eğilimi ve belirsizliği gösterir.
  </h2>
  <ngx-charts-line-chart
    [view]="[ContainerRef.offsetWidth, 600]"
    [results]="dataStore.$polarIceCaps()"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    xAxisLabel="Zaman"
    yAxisLabel="Kutup Buzu"
  >
  </ngx-charts-line-chart>
</div>
} @else {
<p class="loading-text">Veriler yükleniyor... <mat-spinner></mat-spinner></p>
}
